<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>
    <link href="/css/list.css" rel="stylesheet">
</head>
<body>
    <table border="1px solid black">
        <thead>
            <tr>
                <th>UserName</th>
                <th>UserID</th>
                <th>CreatedDate</th>
                <th>ModifiedDate</th>
                <th>Modify</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${list}" th:object="${user}">
                <td th:text="*{userName}"></td>
                <td th:text="*{userId}"></td>
                <td th:text="*{createdDate}"></td>
                <td th:text="*{modifiedDate}"></td>
                <td><button th:onclick="|javascript:findById(*{id})|">modify</button></td>
                <td><button th:onclick="|javascript:deleteById(*{id})|">delete</button></td>
            </tr>
        </tbody>
    </table>

    <div id="updateModal">
        <div>
            <h4>Update Form</h4>
        </div>
        <div>
            <table border="1px solid black">
                <thead>
                <tr>
                    <th>UserName</th>
                    <th>UserId</th>
                    <th>Password</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input placeholder type="text" id="updateUserName" class="autocomplete"></td>
                    <td><input placeholder type="text" id="updateUserId" class="autocomplete"></td>
                    <td><input placeholder type="text" id="updatePassword" class="autocomplete"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button th:onclick="|javascript:update()|">Update</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="/js/list.js"></script>
</body>
</html>